[submodule "OCA/margin-analysis"]
	path = OCA/margin-analysis
	url = git@github.com:OCA/margin-analysis.git
	branch = 14.0

[submodule "OCA/product-attribute"]
	path = OCA/product-attribute
	url = git@github.com:OCA/product-attribute.git
	branch = 14.0
